.App{
    width: 100%;   
    min-height: 100vh; 
    background-color: #c7c7c7;
    padding-top: 40px;
    padding-bottom: 50px;
}
.content-wrapper{ 
    margin: 0 auto;   
    width: 80vw;
    min-height: 90vh;     
    display: grid;
    grid-template-rows: 0.25fr 1.75fr; 
    grid-template-columns: 1fr;
    
}
.switch-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-page1-bar{
    width: 90%;
    min-height: 90%;
}
.radio-txt{
    margin-right: 10px;
    font-weight: 600;
}
.main-form-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #dbdbdb;   
}

.main-form-wrp{
    width: 80%; 
    
}